{% extends 'mainpages/nav_layout.html' %}

{% block pagetitle %}
Contact
{% endblock %}

{% block maincontent %}
    <div id="contactTextContainer">
        <h1 class="mainH1">Contact us</h1>
        <p>Offer news:</p>
        <a href="mailto:news@djangoalex.com">news@djangoalex.com</a><br>
        <p>Found a bug? Let us know here:</p>
        <a href="mailto:bugs@djangoalex.com">bugs@djangoalex.com</a><br><br>
        <p>Author phone:</p>
        <a href="tel:+48578578578">+48 578 578 578</a><br><br>
        <p>Main office:</p>
        <address class="lastEl">
            2 Jana Pawla str.
            Warsaw, 00-600
            Poland
        </address>
        <iframe class="mapsMobile" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2443.6415150675434!2d20.9998509!3d52.2317305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecdc33020cc23%3A0x9ff1e1e157e08032!2sal.%20Jana%20Paw%C5%82a%20II%202%2C%2000-124%20Warszawa!5e0!3m2!1sen!2spl!4v1706828199832!5m2!1sen!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
{% endblock %}